

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        /*grid-template-columns: repeat(2,1fr);*/
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    .home-img{
        width: 100%;
    }

    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
    .input-group{
        width: 50vw;
        margin: 2rem auto;
        gap: 3rem;
    }

    .project-container{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .project-btn{
        margin-right: 1rem;
        border: 1px solid #000;
    }

    .scroll-btn
{
    width: 50px;
    height: 48px;
    background: #2E279D;
    border-radius: 50%;
    position: fixed;
    right: 6%;
    bottom: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    scroll-behavior: smooth;

}

}

@media(max-width:895px){
  .header{
    padding: 4rem 10% 3rem;
  }
  .logo{
    font-size: 4rem;
}
    .navbar{
    padding: 1rem 1rem;
    left: 7%;
    top: 38%;

    }
    .navbar a:hover,
     .navbar a.active{
    color: var(--main-color);
     }
    .navbar.active{
        display: block;
    }

    .navbar a i{
        font-size: 2rem;
        margin-bottom: 1rem;
        
    }
    .home{
        padding-top: 30rem;
    }

    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 100%;
    }

    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }

    .section-container{
        margin-top: 2rem;
        grid-template-columns: repeat(1,1fr);
     }
     .about-container{
         margin-top: 1rem;
     }
     .about-page-container{
        margin-bottom: 50rem;
     }
     .section-container{
        gap: 2rem;
        padding: 1rem 1rem;
     }
     .details-container i{
         font-size: 4rem;
     }
     section.contact{
         min-height: 40vh;
      }
      .timeline-items{
        padding: 0 1rem;
      }
      .timeline-dot
      {
        left: -10px;
      }
    .footer-text{
        font-size: 1.5rem;
    }
}

@media(max-width:700px){
    
    .home-img img{
        width: 100%;
    }
    .home{
        gap: 10rem;
        padding: 2rem 0;
        padding-top: 6rem;
    }
    .home-content{
        margin-top: -3rem;
    }
    .about{
        margin-top: -10rem;
    }
    .education .subheading{
        margin-top: -4rem;    }
    .services{
        margin-bottom: -30px;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
    .projects{
        margin-top: -10rem;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
    }
    .input-group{
        width: 100%;
    }
    section.contact{
        min-height: 50vh;
     }
     .about-page-container{
        margin-bottom: 35rem;
     }
     .about-pic{
        width: 100%;
     }
     .timeline-dot{
        left: -1rem;
    }
}


@media(max-width:413px){
    
    .header{
        padding: 2rem 10% 2rem;
      }
    .logo{
        font-size: 3rem;
       }
    .logo span{
        font-size: 2.5rem;
       }
    .navbar{
        left: 2%;
        top: 50%;
        border-right: none;
    }
    .navbar a i{
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding-top: 0.5rem;
        
    }

    .tooltip{
        display: none;
    }
.home-content{
    margin-top: 5rem;
}
    .home{
            padding-top: 20rem;
        }
   
    .home-content h3{
        font-size: 2.2rem;
    }
    .home-content h1{
        font-size: 4rem;
        margin-top: 1rem;
    }
   
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
        padding-right: 0.5rem;
    }
    .home-img img{
        width: 90%;
        height: 80%;
        margin-left: 2rem;
    }
    

#about
{
    padding: 0;
    margin-left: 8rem;
    width: 80vw;
    margin-top: -20rem;
}
.about-nav{
    top: 10%;
    left: 4%;
}

.section-container{
   grid-template-columns: repeat(1,1fr);
   gap: 4rem;
   width: 80vw;   
}

     .about-container{
        display: block;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        width: 60%;
         
     }
     .details-container{
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    
    }

     .about-pic{
        width: 60vw;
        height: 30vh;
        margin-left: 3rem;
     }
     .text-container p{
         font-size: 1.2rem;
         width: 60%;

       }
     .section-container{
        gap: 1rem;
     }
     .details-container i{
         font-size: 3rem;
     }
     .details-container h3{
        font-size: 1.5rem;
     }
     .details-container p{
        font-size: 1rem;
     }
     .education{
        padding: 100px 15px;
        margin-left: 8rem;
        width: 80vw;
        margin-top: -25rem;
    
    }

     .timeline-content{
        padding: 10px 25px;
    }
    .timeline-content p{
        font-size: 1rem;
        line-height: 15px;
    }
    .timeline-content h3{
        font-size: 1.3rem;
    }
    .timeline-content-inner{
        grid-template-columns: repeat(1,1fr);
    }
    .timeline-content-inner .certificate-img img{
        width: 100%;
        margin-top: 2px;
    }

    #projects
{
    padding: 2rem 1rem;
    margin-left: 6rem;
    margin-top: -20rem;
    width: 85vw;
}
.home .project-nav{
    top: 20%;
}
.project-container{
    margin: 5rem 2rem;
   }
   .details-container{
    width: 100%;
   }
   .services
{
    padding: 2rem 1rem;
    margin-left: 6rem;
    margin-top: -25rem;
    width: 90vw;

}
.home .skill-nav{
    top: 10%;
    left: 4%;
}

#contact{
    padding: 2rem 1rem;
    margin-left: 8rem;
    margin-top: -20rem;
    width: 80vw;
 }

    .input-group{
        width: 100%;
        gap: 1rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

  
    .input-box i{
        font-size: 2rem;
        margin-right: .8rem;
    }
    
    .input-box a{
        font-size: 1.2rem;
    }

     
      .scroll-btn
      {
          width: 40px;
          height: 38px;
          border-radius: 50%;
          position: fixed;
          bottom: 15px;
          left: 0;
          background: transparent;
      
      }
      .scroll-btn:hover
     {
         transition: 0.5s ease-out;  
         color: #000; 
         border: 1px solid #2E279D;
     }
      .scroll-btn i
{
    font-size: 20px;
    padding-left: 12px;
    padding-top: 11px;
    color: #000;
}


}